[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
jinja2 = "*"
backoff = "*"

[dev-packages]

[requires]
python_version = "3.9"
