[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2-binary = "*"
django-admin-json-editor = "*"
gunicorn = "*"

[dev-packages]
black = "==21.6b0"
wemake-python-styleguide = "*"
isort = "*"

[requires]
python_version = "3.9"
